// Place all the styles related to the roster controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.roster-container {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

.roster-header {
  font-size: 30px;
  color: #E7581C;
  padding-top: 10px;
}

.roster-data-list {
  border-top: solid lightgrey;
  border-width: 1px;
  padding-top: 2%;
  overflow: auto;
}

.roster-image {
  float: left;
  clear: left;
  padding-right: 15px;
}

.roster-name {
  font-size: 20px;
}

.roster-title {
  font-size: 15px;
}

.roster-bio {
  font-size: 13px;
}

.roster-vote {
  font-size: 13px;
}
